
{% extends 'partials/base.html' %}
{% block title %}Reset Password Done page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row mt-5 pt-3 ">
            <div class="col-md-8 offset-md-3">
                <div class="card my-3 shadow" style="width: 40vw;">
                    <div class="card-body">
                        <h4 class="text-center mb-3">Confirmation Sent!!!</h4>
                        <div class="alert alert-info">
                            <strong>Note:</strong>If the email is valid, an email has been sent to your registered email address with instructions on how to reset your password. Please check your inbox and follow the instructions.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
