
{% extends 'partials/base.html' %}
{% block title %}Reset Password page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row mt-5 pt-3 ">
            <div class="col-md-8 offset-md-3">
                <div class="card my-3 shadow" style="width: 40vw;">
                    <div class="card-body">
                        <h4>Reset Password</h4>
                        <div class="alert alert-info">
                            <strong>Note:</strong> Please enter your email address to receive a instructions on how to reset your password.
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input class="btn btn-primary btn-block text-blue-500" type="submit" value="Reset Password">
                        </form>
                        <hr/>
                        <div class="text-start">
                            <a href="{% url 'users-login' %}">Back to Login</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
